@font-face {
    font-family: 'IBM Plex Mono';
    src: url('IBMPlexMono-LightItalic.eot');
    src: url('IBMPlexMono-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('IBMPlexMono-LightItalic.woff2') format('woff2'),
        url('IBMPlexMono-LightItalic.woff') format('woff'),
        url('IBMPlexMono-LightItalic.ttf') format('truetype'),
        url('IBMPlexMono-LightItalic.svg#IBMPlexMono-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lobster Two';
    src: url('LobsterTwo.eot');
    src: url('LobsterTwo.eot?#iefix') format('embedded-opentype'),
        url('LobsterTwo.woff2') format('woff2'),
        url('LobsterTwo.woff') format('woff'),
        url('LobsterTwo.ttf') format('truetype'),
        url('LobsterTwo.svg#LobsterTwo') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

